<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <title>RGMarket</title>
</head>
<body>
  <header>
    <!--Nav bar containing website logo, searchbar, create listing, sign up, and log in buttons
        Uses bootstrap+bulma for styling-->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
      <div class="navbar-brand">
          <img src="/images/RGMarket.png" href="/homepage" width="300" height="65">
        
    <!--Navbar containing logo, searchbar, create listing, login, and signup buttons-->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-item">
        <input class="input is-rounded" style="width: 100%;" type="text" placeholder="Search...">
      </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <!--
              <a class="button is-info">
                <strong>Create Listing</strong>
              </a>
              -->

              <!--Conditional for if user is not signed in-->
              {{#if logged_in}}
              <a class="button is-info" href="/post" id="post">
                <strong>Create Listing</strong>
              </a>
              {{else}}
              <a class="button is-primary" href="/signup" id="signup">
                <strong>Sign up</strong>
              </a>
              {{/if}}
              <!--conditional for if user is signed in already-->
              {{#if logged_in}}
              <a class="button is-light" href="/profile">
              Profile
              </a>
              <a class="button is-warning" id="logout">
                Logout
                </a>
              {{else}}
              <a class="button is light" href="/login">
              Login
              </a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
    </nav>
  </header>
<!--Main body for rendering-->
  <main>
    <div>
      <!-- Render the sub layout -->
      {{{ body }}}
    </div>
    
  </main>
<!--Footer of website-->
    <footer>
      
    </footer>
    
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  {{!-- This is for fetching third party APIs for game details --}}
  <script src="/public/js/script.js"></script>
</body>

</html>