<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"/> --}}
    <title>RGMarket</title>
</head>

<body>
  <header>
    <!--Nav bar containing website logo, searchbar, create listing, sign up, and log in buttons. Uses bootstrap+bulma for styling-->
    <nav class="navbar">
      {{!-- <a href="/"><img src="https://media.discordapp.net/attachments/468853546037805058/890368757594218546/RGMarket.jpeg" width="300" height="65"></a> --}}
      <a href="/"><h1>Retron, Retros</h1></a>
      <input class="search" placeholder="Search..."></input>
      <div class="buttons">
        <!--Conditional for if user is not signed in-->
        {{#if logged_in}}
        
        <a href="/posting"><button class="postBtn">Create Listing</button></a>
        <a href="/profile"><button class="profileBtn">Profile</button></a>
        <a><button class="logoutBtn" id="logout">Logout</button></a>
        {{else}}
        {{!-- If you are not logged in you can either log in or log out --}}
        <a href="/signup"><button class="signupBtn">Sign up</button></a>
        <a href="/login"><button class="loginBtn">Login</button></a>
        {{/if}}
      </div>
    </nav>
  </header>

  <!--Main body for rendering-->
  <main>
    {{{ body }}}
  </main>

  <!--Footer of website-->
  <footer>
      
  </footer>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  {{!-- This is for fetching third party APIs for game details --}}
  {{!-- <script src="/public/js/script.js"></script> --}}
</body>

</html>