<div id= "main">
{{#each posts}}
<div id="card">
    <p>Game Title: {{ title }}</p>
    <P>Category: {{ info1 }}</P>
    <p>Condition: {{ info2 }}</p>
    <p>Description: {{ description }}</p>
    <br>
</div>
{{/each}}
</div>


