<div class="loginCont">
  <form class="loginForm">
    <h2>Login</h2>
    <div class="emailForm">
      <input class="email-login" placeholder="Type your E-Mail" />
    </div>
    <div class="passForm">
      <input class="pass-login" placeholder="Type your password" />
    </div>
    <button class="submitBtn" type="submit">Sign In</button>

    <div class="noAcc">
      <p>Don't have an account?</p>
      <a href="/signup">
        Sign-up Here!
      </a>
    </div>
  </form>
</div>

<script src="./js/login.js"></script>