<div class="columns is-centered row" id="login">
    <div class="column is-half">
      <form class="form login-form">
        <div class="form-group">
            <p class="title is-2 has-text-centered">Login to RGMarket</p>
            <p for="email-login" class="subtitle is-4">Email:</p>
            <input class="input is-rounded form-input" style="width: 100%;" type="text" id="email-login" placeholder="user@email.com">
        </div>

        <div class="form-group">
            <p for="password-login" class="subtitle is-4">Password:</p>
            <input class="input is-rounded form-input" style="width: 100%;" type="text" id="password-login" placeholder="Password">
        </div>

        <div class="form-group">
            <button class="button is-info" type="submit">
                <strong>Sign In</strong>
            </button>
        </div>

        <div class="form-group">
            <p class="subtitle is-4">Don't have an account?</p>
            <button class="button is-primary" href='/signup'>
                <strong>Sign Up Here!</strong>
            </button>
        </div>
        
      </form>
    </div>

    <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>

</div>



<script src="./js/login.js"></script>
