<div class="col-md-6">

    <h3>Create a New Project:</h3>

    <form class="form posting-form">

      <div class="form-group">
        <label for="title">Game Title:</label>
        <input class="form-input" type="text" id="title" name="game-title" />
      </div>

      <div class="form-group">
        <label for="project-funding">Category:</label>
        <input class="form-input" type="text" id="category" name="game-category" />
      </div>

      <div class="form-group">
        <label for="project-funding">Condition:</label>
        <input class="form-input" type="text" id="condition" name="game-condition" />
      </div>

      <div class="form-group">
        <label for="project-funding">Price ($):</label>
        <input class="form-input" type="number" id="price" name="game-price" />
      </div>

      <div class="form-group">
        <label for="project-desc">Description:</label>
        <textarea class="form-input" id="desc" name="game-desc"></textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
      
    </form>

</div>

<script src="./js/posting.js"></script>