<!-- Banner at top of screen -->
<section class="hero is-info row">
  <div class="hero-body col-auto">
    <p class="title has-text-centered">
      RGMarket Profile
    </p>
    <p class="subtitle has-text-centered">
      Welcome, {{username}}!
    </p>
  </div>
</section>


<div class="columns">
  <!--Left Column. Contains listings-->
  <div class="column">
    <form class="box">
      <div class="row mt-4" id='mainbody'>

        {{#if posts.length}}
        <div class="col-md-6 posts-list">
          
          <h3 class="title is-3">Your Listings:</h3>

          {{#each posts as |post|}}
          <div class="row mb-2">
            <div id="test" class="col-md-8">
              <h4 class="subtitle is-5"><a href="/post/{{post.id}}">{{post.title}}</a></h4>
            </div>
            <div class="col-md-4">
              <button class="button is-danger is-small btn btn-sm btn-danger new-post-form" type="submit" data-id="{{post.id}}">DELETE</button>
            </div>
          </div>
          {{/each}}
        </div>
        {{/if}}

      </div>

    </form>

  </div>
  

  <!--Right column. Contains profile settings-->
  <div class="column">
    <form class="box">
      <a class="subtitle is-5">Change your password:</a>
        <div class="field">
          <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" placeholder="e.g. alex@example.com">
            </div>
        </div>

        <div class="field">
          <label class="label">Current Password</label>
            <div class="control">
              <input class="input" type="password" placeholder="********">
            </div>
        </div>

        <div class="field">
          <label class="label">New Password</label>
            <div class="control">
              <input class="input" type="password" placeholder="********">
            </div>
        </div>

        <button class="button is-primary">Change password</button>
    </form>
  </div>
</div>

<script src="./js/profile.js"></script>
