<div class="signCont">
  <form class="signForm">
    <h2>Sign Up Here</h2>
    <div class="userForm">
      <input class="user-sign" placeholder="Type your username" />
    </div>
    <div class="emailForm">
      <input class="email-sign" placeholder="Type your E-Mail" />
    </div>
    <div class="passForm">
      <input class="pass-sign" placeholder="Type your password" />
    </div>
    <button class="submitBtn" type="submit">Sign Up</button>
    <div class="noAcc">
      <p>Already have an account?</p>
      <a href="/login">Log-In Here!</a>
    </div>
  </form>
</div>

<script src="./js/signup.js"></script>