<div class="signCont">
  <form class="signForm">
    <h2>Sign Up Here</h2>
    <div class="userForm">
      <input class="user-sign" placeholder="Type your username" />
    </div>
    <div class="emailForm">
      <input class="email-sign" placeholder="Type your E-Mail" />
    </div>
    <div class="passForm">
      <input class="pass-sign" placeholder="Type your password" />
    </div>
    <button class="submitBtn" type="submit">Sign Up</button>
    <div class="noAcc">
      <p>Already have an account?</p>
      <a href="/login">Log-In Here!</a>
    </div>
  </form>
</div>

{{! <div class="columns is-centered row block" id="login">
    <div class="column is-half block">

        <form class="form signup-form">
            <p class="title is-2 has-text-centered">Sign up for RGMarket</p>
            
            <div class="form-group block">
                <p for="name-signup" class="subtitle is-4">Username:</p>
                <input class="input is-rounded form-input" style="width: 100%;" type="text" id="name-signup" placeholder="Username">
            </div>

             <div class="form-group block">
                <p for="email-signup" class="subtitle is-4">Email:</p>
                <input class="input is-rounded form-input" style="width: 100%;" type="text" id="email-signup" placeholder="user@email.com">
            </div>

            <div class="form-group block">
                <p for="password-signup" class="subtitle is-4">Password:</p>
                <input class="input is-rounded form-input" style="width: 100%;" type="text" id="password-signup" placeholder="Password">
               
            </div>
            <div class="form-group block">
                 <button class="button is-info" type="submit">
                <strong>Sign Up</strong>
            </div>

            <div class="form-group block">
                <p class="subtitle is-4">Already have an account?</p>
                <a href="/login" class="button is-primary"> 
                <strong>Login Here</strong>
                </a>
            
            </div>

        
        
        </form>
        
    </div>
</div> }}

<script src="./js/signup.js"></script>