* {
  margin: 0px;
}
body {
  text-decoration: none;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 30px;
}
.search {
  width: 300px;
  height: 35px;
  padding: 5px;
  padding-right: 30px;
  padding-left: 21px;
  font-size: 16px;
  border-radius: 25px;
}
.buttons {
  display: flex;
}
.postBtn,
.profileBtn,
.logoutBtn,
.signupBtn,
.loginBtn {
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 30px;
  border: none;
}
.categories {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 30px;
}
.categories label {
  font-size: 20px;
}
.categories select {
  padding: 5px;
}
.listingCont {
  display: flex;
  justify-content: center;
}
.listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 75%;
}
.card {
  display: flex;
  border-style: solid;
  border-width: medium;
  width: 250px;
  flex-direction: column;
  align-items: center;
  margin: 0px 15px 20px 13px;
  border-color: gray;
}
.listingImage {
  height: 225px;
  margin: 10px;
  border-style: solid;
}
.card a {
  text-decoration: none;
  width: 100%;
}
.listingInfo {
  margin: 10px;
}

/* LOGIN & SIGNUP PAGE */
.loginCont,
.signCont {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.loginForm,
.signForm {
  display: flex;
  width: 375px;
  border-style: solid;
  flex-direction: column;
  align-items: center;
}
.loginForm h2,
.signForm h2 {
  margin-top: 55px;
  margin-bottom: 50px;
}
.user-sign,
.email-sign,
.pass-sign,
.email-login,
.pass-login {
  width: 250px;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 25px;
}
.submitBtn {
  width: 275px;
  font-size: 15px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 120px;
  border-radius: 25px;
  border: none;
}
.noAcc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* CREATE POSING SITE */
.createPostCont {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.createPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  width: 600px;
  padding: 10px;
}
.createPost h1 {
  margin-top: 30px;
  margin-bottom: 45px;
}
.product,
.publisher,
.genre,
.system,
.condition,
.price,
.desc {
  width: 75%;
  box-sizing: border-box;
  margin-bottom: 25px;
  font-size: 15px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.createBtn {
  width: 150px;
  font-size: 15px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 25px;
}

/* PROFILE SECTION */
.profilePage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.listingsCont {
  padding: 20px;
  border-style: solid;
  margin-right: 15px;
}
.listingsCont h2 {
  margin-bottom: 10px;
}
.allListings {
  display: flex;
  flex-direction: column;
}
.updateFormCont {
  padding: 20px;
  border-style: solid;
  margin-left: 15px;
  height: 250px;
}
.updateForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  height: 100%;
}
.updateForm h2 {
  margin-bottom: 10px;
}
.post {
  display: flex;
  flex-direction: row;
  border-style: solid;
  margin-bottom: 15px;
}
.infoSection {
  display: flex;
  flex-direction: column;
}
.generalCont {
  display: flex;
  flex-direction: row;
}
.generalInfo {
  width: 275px;
}
.descInfo {
  width: 350px;
}
.postImage {
  width: 130px;
  height: 130px;
  border-style: solid;
  margin: 5px;
}
.updateForm {
  width: 350px;
}
.updateForm input {
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 15px;
}
