* {
  margin: 0px;
}
body {
  text-decoration: none;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 30px;
}
.search {
  width: 300px;
  height: 35px;
  padding: 5px;
  padding-right: 30px;
  padding-left: 21px;
  font-size: 16px;
  border-radius: 25px;
}
.buttons {
  display: flex;
}
.postBtn,
.profileBtn,
.logoutBtn,
.signupBtn,
.loginBtn {
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 30px;
  border: none;
}

/* HOMEPAGE */
.filterBar {
  display: flex;
  flex-direction: row;
  background: #d4d4d4;
}
.pubFilter:hover .pubListCont {
  display: block;
}
.genreFilter:hover .genreListCont {
  display: block;
}
.systemFilter:hover .systemListCont {
  display: block;
}
.condFilter:hover .condListCont {
  display: block;
}
.pubFilter:hover .pubBtn {
  background: #959595;
}
.genreFilter:hover .genreBtn {
  background: #959595;
}
.systemFilter:hover .systemBtn {
  background: #959595;
}
.condFilter:hover .condBtn {
  background: #959595;
}
.clearBtn,
.pubBtn,
.genreBtn,
.systemBtn,
.condBtn {
  width: 120px;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  border: none;
  background: #d4d4d4;
}
.clearBtn a {
  text-decoration: none;
}
.pubList,
.genreList,
.systemList,
.conditionList {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #dfdfdf;
}
.pubListCont,
.genreListCont,
.systemListCont,
.condListCont {
  display: none;
}
.pubList a,
.genreList a,
.systemList a,
.conditionList a {
  font-size: 17px;
  padding: 10px 20px 20px 20px;
  text-decoration: none;
}
.categories {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 30px;
}
.categories label {
  font-size: 20px;
}
.categories select {
  padding: 5px;
}
.listingCont {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.listings {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}
.card {
  display: flex;
  border-style: solid;
  border-width: medium;
  width: 250px;
  flex-direction: column;
  align-items: center;
  margin: 0px 15px 20px 13px;
  border-color: gray;
}
.listingImage {
  height: 225px;
  margin: 10px;
  border-style: solid;
}
.card a {
  text-decoration: none;
  width: 100%;
}
.listingInfo {
  margin: 10px;
}

/* LOGIN & SIGNUP PAGE */
.loginCont,
.signCont {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.loginForm,
.signForm {
  display: flex;
  width: 375px;
  border-style: solid;
  flex-direction: column;
  align-items: center;
}
.loginForm h2,
.signForm h2 {
  margin-top: 55px;
  margin-bottom: 50px;
}
.user-sign,
.email-sign,
.pass-sign,
.email-login,
.pass-login {
  width: 250px;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 25px;
}
.submitBtn {
  width: 275px;
  font-size: 15px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 120px;
  border-radius: 25px;
  border: none;
}
.noAcc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* CREATE POSING SITE */
.createPostCont {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.createPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  width: 600px;
  padding: 10px;
}
.createPost h1 {
  margin-top: 30px;
  margin-bottom: 45px;
}
.product,
.publisher,
.genre,
.system,
.condition,
.price,
.desc {
  width: 75%;
  box-sizing: border-box;
  margin-bottom: 25px;
  font-size: 15px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.createBtn {
  width: 150px;
  font-size: 15px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 25px;
}

/* PROFILE SECTION */
.profilePage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.listingsCont {
  padding: 20px;
  border-style: solid;
  margin-right: 15px;
  width: 845px;
}
.listingsCont h2 {
  margin-bottom: 10px;
}
.allListings {
  display: flex;
  flex-direction: column;
}
.updateFormCont {
  padding: 20px;
  border-style: solid;
  margin-left: 15px;
  height: 250px;
}
.updateForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  height: 100%;
}
.updateForm h2 {
  margin-bottom: 10px;
}
.post {
  display: flex;
  flex-direction: row;
  border-style: solid;
  margin-bottom: 15px;
}
.infoSection {
  display: flex;
  flex-direction: column;
}
.generalCont {
  display: flex;
  flex-direction: row;
}
.generalInfo {
  width: 275px;
}
.descInfo {
  width: 350px;
}
.postImage {
  width: 130px;
  height: 130px;
  border-style: solid;
  margin: 5px;
}
.updateForm {
  width: 350px;
}
.updateForm input {
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 15px;
}

/* INDIVIDUAL POST SITE */
.postContainer {
  display: flex;
  justify-content: center;
}
.postContent {
  display: flex;
  flex-direction: row;
}
.postingImage {
  border-style: solid;
  margin: 0px;
  width: 400px;
  height: 400px;
  margin-right: 100px;
}
.postInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 100px;
}
.postInfo h1 {
  margin-bottom: 30px;
}
.postGenInfo {
  margin-bottom: 25px;
}
.postGenInfo p {
  font-size: 20px;
  margin-bottom: 10px;
}
.postPrice {
  margin-bottom: 30px;
}
.postPrice p {
  font-size: 25px;
}
.postUser p {
  font-size: 20px;
}
